@font-face {
    font-family: 'Gotham Rounded';
    src: url('/GothamRounded-Light.eot');
    src: url('/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
        url('/GothamRounded-Light.woff2') format('woff2'),
        url('/GothamRounded-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('/GothamRounded-Medium.eot');
    src: url('/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
        url('/GothamRounded-Medium.woff2') format('woff2'),
        url('/GothamRounded-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('/GothamRounded-MediumItalic.eot');
    src: url('/GothamRounded-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/GothamRounded-MediumItalic.woff2') format('woff2'),
        url('/GothamRounded-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('/GothamRounded-BoldItalic.eot');
    src: url('/GothamRounded-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/GothamRounded-BoldItalic.woff2') format('woff2'),
        url('/GothamRounded-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('/GothamRounded-Bold.eot');
    src: url('/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
        url('/GothamRounded-Bold.woff2') format('woff2'),
        url('/GothamRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('/GothamRounded-Book.eot');
    src: url('/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
        url('/GothamRounded-Book.woff2') format('woff2'),
        url('/GothamRounded-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('/GothamRounded-LightItalic.eot');
    src: url('/GothamRounded-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/GothamRounded-LightItalic.woff2') format('woff2'),
        url('/GothamRounded-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Rounded Book';
    src: url('/GothamRounded-BookItalic.eot');
    src: url('/GothamRounded-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('/GothamRounded-BookItalic.woff2') format('woff2'),
        url('/GothamRounded-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

.navbar_red{
background-color: #F63A43;
}

.navbar_white{
background-color: #FFF;
}


.place {background-color: #FFF; }
.bg_red { background-color: #F63A43 !important; }

.nav-item{
	color: #FFF;
	text-align:center;
	padding: 5px 5px 5px 5px;
}

.nav-link{
	color: #FFF;
}

.dropdown_content{
	padding: 10px 10px 10px 10px;
}



.login_input{
	 box-shadow: 0 0 3px #35B4EE; 
	 margin: 10px ;
	 padding: 10px 10px 10px;
	 display: block;
	 width: 407px; 
}

.myButton {
	font-family: "Gotham Rounded Book", sans-serif !important;
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background-color:#f53340;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810e05;
	margin: 10px 10px 10px 10px;
}
.myButton:hover {
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}

.nextButton {
	font-family: "Gotham Rounded Book", sans-serif !important;
	-moz-box-shadow: 3px 4px 0px 0px #E2E0E0;
	-webkit-box-shadow: 3px 4px 0px 0px #E2E0E0;
	box-shadow: 3px 4px 0px 0px #E2E0E0;
	background-color:#FFF;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #E2E0E0;
	display:inline-block;
	cursor:pointer;
	color:#000;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #810#E2E0E0e05;
	margin: 10px 10px 10px 10px;
}

.nextButton:active {
	position:relative;
	top:1px;
}

.limpiarButton {
	font-family: "Gotham Rounded Book", sans-serif !important;
	-moz-box-shadow: 3px 4px 0px 0px #76a34e;
	-webkit-box-shadow: 3px 4px 0px 0px #76a34e;
	box-shadow: 3px 4px 0px 0px #76a34e;
	background-color:#82b757;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #82b757;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3f7a0c;
	margin: 10px 10px 10px 10px;
}
.limpiarButton:hover {
	background-color:#82b757;
}
.limpiarButton:active {
	position:relative;
	top:1px;
}


.navbar {
    position: relative;
}
.brand {
    position: absolute;
    left: 50%;
    margin-left: -105px !important;  /* 50% of your logo width */
    display: block;
}
.step1{
	background-color: #35B4EE;
}


.step1_titles::after {
    display: inline-block;
    width: 0;
    height: 0;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
	text-align: center;
	color: #FFF;
}



.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.blue{
	background-color:#35B4EE !important;
}

.green{
	background-color: #83B757 !important;
}

.red{
	background-color: #ef373b !important;
}

.loading-square {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.response-square {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.response_text{
	text-align: center;
	font-family: "Gotham Rounded";
}

.response_image{
	margin: 15px 15px 15px 15px;
}

.big_title{
	font-size: 5em;
	color: #F5333F;
}

.medium_title{
	font-size: 1.3em;
	color: #F5333F;
}

.cool_image{
	margin-top: 55px !important;
	margin-bottom: 25px;
	max-width: 90px !important;
}






/*FOOTER 
///////////////////////////
*/

.footer_text h1{
	font-family: "Gotham Rounded";
	font-weight: bold;
	font-size: 2em;
	letter-spacing: 0.08em;
	line-height: 1em;
	text-align: center;
	color: #FFF;
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
	display: inline-block;
}

.footer_text h2{
	font-family: "Gotham Rounded";
	font-weight: 150;
	font-size: 1em;
	letter-spacing: 0.3em;
	line-height: 1.4em;
	text-align: center;
	color: #FFF;
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
	display: inline-block;
}


/*QUESTIONS CSS*/

#question_area{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}

#question_area h1{
	font-family: "Gotham Rounded";
	font-weight: bold;
	font-size: 4em;
	letter-spacing: 0.08em;
	line-height: 1em;
	text-align: center;
	color: #f5333f;
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
}

#question_area h2{
font-family: "Gotham Rounded";
font-weight: bold;
font-size: 0.8em;
letter-spacing: 0.2em;
line-height: 1em;
text-align: center;
color: #f5333f;
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
}

#question_area h3{
	font-family: "Gotham Rounded";
	font-weight: 200;
	font-size: 0.9em;
	line-height: 0.9em;
	text-align: center;
	color: #f5333f;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

#question_area h4{
	font-family: "Gotham Rounded";
	font-weight: normal;
	font-size: 0.8em;
	line-height: 0.8em;
	text-align: center;
	color: #FFF;
}

.finish_title{
	font-family: "Gotham Rounded";
	font-weight: normal;
	font-size: 1.2em;
	line-height: 1.2em;
	text-align: center;
	color: #FFF;
}

#question_area p{
	font-size: 0.7em;
	font-family: "Gotham Rounded";
	letter-spacing: 0.1em;
	line-height: 1.2em;
	color: #000;	
	font-weight: 100;
}

#question_area b{
	font-size: 2.5vw !important;
	color: #35B4EE;
}

#question_area input{
	font-size: 1em !important;
	margin: 2px 2px 2px 2px;
	font-weight: 400;
	line-height: 1.2em;
	width: 210px;
	
}

#question_area textarea{
	border: 2px solid #35B4EE;
}

.complete_answers{
	color: #FFF;
	cursor: pointer;
	margin: 5px 5px 5px 5px;
	padding: 10px 10px 10px 10px;
	display: inline-block;
	background-color: #35B4EE;
	width: 100%;
	font-size: 1em;
	line-height: 1em;
	font-weight: bold !important;
}

.yes_or_no_button {
	  border: 2px solid #35B4EE;
	  background-color: white;
	  color: #35B4EE !important;
	  padding: 14px 28px;
	  font-size: 2.2em;
	  cursor: pointer;
	  margin: 15px 15px 15px 15px;
	  display: inline-block !important;
	  font-weight: bold !important;
}

.yes_or_no_button_selected{
	color: #FFF !important;
	background-color: #35B4EE;
}

.pages_info{
	
	margin-top: 15px;
	font-family: "Gotham Rounded";
	font-weight: normal;
	font-size: 2.0vw;
	letter-spacing: 0.2em;
	line-height: 2.0vw;
	text-align: center;
	color: #f5333f;
	
}

.multiple_choice_button {
	  border: 2px solid #35B4EE;
	  background-color: white;
	  color: #35B4EE;
	  padding: 14px 28px;
	  font-size: 16px;
	  cursor: pointer;
}

.multiple_choice_button_selected{
	color: #FFF !important;
	background-color: #35B4EE;
}

.multiple_choice_button_selected b{
	color: #FFF !important;
	background-color: #35B4EE;
}


.multiple_choices_button {
	  border: 2px solid #35B4EE;
	  background-color: white;
	  color: #35B4EE;
	  padding: 14px 28px;
	  font-size: 16px;
	  cursor: pointer;
}

.multiple_choices_button_selected{
	color: #FFF !important;
	background-color: #35B4EE;
}

/*TOP AREA */

#top_area h1{
	font-family: "Gotham Rounded";
	font-weight: bold;
	font-size: 9vw;
	letter-spacing: 0.08em;
	line-height: 9vw;
	text-align: center;
	color: #f5333f;
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
	
}


#top_area h3{
	font-family: "Gotham Rounded Book";
	font-weight: bold;
	font-size: 2.5vw;
	letter-spacing: 0.08em;
	line-height: 2.5vw;
	text-align: center;
	color: #f5333f;
	padding: 5px 5px 5px 5px;
	margin-top: 10px;
}

#top_area h4{
	font-family: "Gotham Rounded Book";
	font-weight: bold;
	font-size: 2.0vw;
	letter-spacing: 0.08em;
	line-height: 2.0vw;
	text-align: center;
	color: #0D96D3;
	
	
}

.navbar-toggler-icon{
	color: #0D96D3;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

.container{
	padding-right: 0px; 
	padding-left: 0px; 
}

.form-control{
	font-family: "Gotham Rounded";
	box-shadow: 0 0 3px #35B4EE;
	margin: 5px 5px 5px 5px;
}

.navbar {
    margin-bottom: 0px; 
}

.container-fluid {
    padding-right: 0px; 
    padding-left: 0px; 
}

.navbar-dark .navbar-nav .nav-link {
	font-family: "Gotham Rounded";
    color: #FFF;
}

.dropdown-menu{
	background-color: #F63A43;
	color: #FFF;
	text-align: center;
	border: 0px;
}

.dropdown-menu li{
	list-style-type: none;
}


.alert{
	font-family: "Gotham Rounded", sans-serif;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	text-align: center;
	color: #FFF;
	font-weight: 350;
	background-color: #f53340;
}


	img{
		max-height: 310px;
	}
	
	.step1 p{
		font-family: "Gotham Rounded", sans-serif;
		font-size: 0.8em;
		letter-spacing: 0.1em;
		line-height: 1.5em;
		text-align: center;
		color: #FFF;
		font-weight: 150;
		padding: 0px 0px 0px 0px;
		margin: 0px 0px 0px 0px;
		
	}

	.step1 h1{
		font-family: "Gotham Rounded Book", sans-serif;
		font-weight: normal;
		font-size: 1.5em;
		letter-spacing: 0.2em;
		line-height: 1.5em;
		text-align: center;
		color: #fff;
		text-transform: uppercase;
		margin-top: 10px;
	}

	.step1 h2{
		font-family: "Gotham Rounded";
		font-weight: normal;
		font-size: 1.2em;
		letter-spacing: 0.1em;
		line-height: 1.2em;
		text-align: center;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		margin-top: 5px;
	}

	.step1 li{
		
		text-align: center;
		color: #fff;
		list-style-type: none;
		padding: 0px 0px 0px 0px;
	
	}

	.step1 ul{
		margin: 0px 0px 0px 0px;
		margin-right: 40px;
	}

	
	.step1 img{
		margin-top: 35px;
		width: 60px;
		height: auto;
	}


	.step1_titles{
	
	}

	.guion p{
	    margin-right: 35px !important;
	}
	
	p.response_text {
	    font-weight: 339;
	    font-size: 0.9em;
	}
	
	
#final_title h1{
		font-family: "Gotham Rounded";
		font-weight: bold;
		font-size: 2.5em;
		letter-spacing: 0.08em;
		line-height: 1em;
		text-align: center;
		color: #f5333f;
		padding: 5px 5px 5px 5px;
		margin-top: 10px;
}

#final_title h2{
		font-family: "Gotham Rounded";
		font-weight: bold;
		font-size: 0.8em;
		letter-spacing: 0.08em;
		line-height: 1em;
		text-align: center;
		color: #f5333f;
		padding: 5px 5px 5px 5px;
		margin-top: 10px;
}
 